# Auto detect text files and perform LF normalization
* text=auto
C3_v4_r5 filter=lfs diff=lfs merge=lfs -text
C3_v4_r7 filter=lfs diff=lfs merge=lfs -text
C3_v5_r1 filter=lfs diff=lfs merge=lfs -text
C3_v6_r8 filter=lfs diff=lfs merge=lfs -text
C3_v7_r4 filter=lfs diff=lfs merge=lfs -text
